<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript">
                var finalOrder = req.body.order;
    </script>
</head>
<body>
<h1><%= title %></h1>

<table class="table table-inverse">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Username</th>

    </tr>
    </thead>

    <tbody>
    <% for(var i=0; i < finalOrder.length; i++) { %>
    <tr>

        <td><%= finalOrder[i].productid%></td>
        <td><%= finalOrder[i].address %></td>
        <td><%= finalOrder[i].cardnumber %></td>


    </tr>
    <% } %>
    </tbody>

</table>





</body>
</html>
