<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<table class="table table-inverse">
    <thead>
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>

    </tr>
    </thead>

    <tbody>
    <% for(var i=0; i < order.length; i++) { %>
    <tr>

        <td><%= order[i].productid %></td>
        <td><%= order[i].productname %></td>
        <td><%= order[i].quantity %></td>
        <td><%= order[i].price %></td>

    </tr>
    <% } %>
    </tbody>

</table>
</body>
</html>
